@use 'colors';

#container {
    min-height: calc(100vh - 50px);

    #content {
        h2 {
            text-align: center;
        }

        & > h3 {
            margin: 8px auto;
            max-width: 1200px;
            padding-left: 5px;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: auto;

            a {
                display: block;
                margin-bottom: 2%;
                border-radius: 15px;
                width: 49%;
                background-color: colors.$background;

                img {
                    transition: object-position 0.7s;
                    margin: 5px 5px 0;
                    border-radius: 12px;
                    width: calc(100% - 10px);
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                    object-position: top;

                    &.website-logo {
                        object-fit: contain;
                        object-position: unset !important;
                        background-color: #fff;
                    }
                }

                h3, p {
                    margin-inline: 10px;
                }

                &:hover img {
                    object-position: bottom;
                }
            }
        }

        @media(max-width: 1200px) {
            .gallery, h3 {
                margin-inline: 10px;
            }
        }
    }
}

a {
    text-decoration: none;
    color: colors.$foreground;
}